:root {
  --border: rgb(3, 169, 244);
  
    --g1: rgb(98, 0, 234);
  --g2: rgb(236, 64, 122);
  --g3: rgb(253, 216, 53);
  --u1: rgb(72, 59, 137);
  --u2: rgb(76, 190, 243);
  --u3: rgb(18, 44, 139);
  --t1: rgb(255, 87, 34);
  --t2: rgb(255, 193, 7);
  --t3: rgb(255, 87, 34);
  --rp1: rgb(247, 26, 14);
  --rp2: rgb(243, 105, 158);
  --rp3: rgb(180, 248, 127);
  --w2: rgb(255, 82, 82);
  --w1: rgb(255, 239, 17);
  --w3: rgb(0, 217, 255);
  --g1: rgb(98, 0, 234);
  --g2: rgb(236, 64, 122);
  --g3: rgb(253, 216, 53);
  --b1: rgb(255, 63, 20);
  --b2: rgb(51, 124, 243);
  --b3: rgb(255, 109, 83);
  --j1: rgb(218, 196, 0);
  --j2: rgb(231, 238, 88);
  --j3: rgb(255, 251, 146);
  --r1: rgb(0, 247, 255);
  --r2: rgb(0, 55, 255);
  --r3: rgb(0, 187, 255);
  --f1: rgb(255, 230, 0);
  --f2: rgb(255, 153, 0);
  --f3: rgb(255, 242, 0);
    
  
}
.card-title,
.card-subtitle {
  color: white;
  font-family: "Anek Latin", sans-serif;
  font-weight: 400;
  margin: 0px;
}

.card-title {
  font-size: 4vmin;
}

.card-subtitle {
  font-size: 2vmin;
  margin-top: 2vmin;
}

.card-subtitle-word {
  display: inline-block;
  margin: 0vmin 0.3vmin;
  opacity: 0;
  position: relative;  
  transform: translateY(40%);
  transition: none;
}

.card-icon {
  bottom: 0px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 7vmin;
  left: 0px;
  margin: 5vmin;
  position: absolute;
  transition: color 250ms ease;
  z-index: 2;
}



.card {
  aspect-ratio: 1 / 1.6;
  border: 0.5vmin solid var(--border);
  cursor: pointer;
  position: relative;
  width: 35vmin;
}

.card:hover:before {
  background-position: 100% 100%;
  transform: scale(1.08, 1.03);
}

.card:hover > .card-content {
  background-position: -10% 0%;
}

.card:hover > .card-icon {
  color: white; 
}

.card:hover > .card-content > .card-subtitle > .card-subtitle-word {  
  opacity: 1;
  transform: translateY(0%);
  transition: opacity 0ms, transform 200ms cubic-bezier(.90, .06, .15, .90);
}

.card-content {
  background-image: radial-gradient(
    rgba(255, 255, 255, 0.2) 8%, 
    transparent 8%
  );
  background-position: 0% 0%;
  background-size: 5vmin 5vmin;
  height: calc(100% - 10vmin);
  padding: 5vmin;
  position: relative;
  transition: background-position 350ms ease;
  width: calc(100% - 10vmin);
  z-index: 2;
}

.unity:before {
  background: linear-gradient(
    130deg, 
    transparent 0% 33%, 
    var(--u1) 66%, 
    var(--u2) 83.5%, 
    var(--u3) 100%
  );
  background-position: 0% 0%;
  background-size: 300% 300%;
  content: "";
  height: 100%;
  left: 0px;
  pointer-events: none;
  position: absolute;
  top: 0px;
  transition: background-position 350ms ease, transform 350ms ease;
  width: 100%;
  z-index: 1;
}

.thunkable:before {
  background: linear-gradient(
    130deg, 
    transparent 0% 33%, 
    var(--t1) 66%, 
    var(--t2) 83.5%, 
    var(--t3) 100%
  );
  background-position: 0% 0%;
  background-size: 300% 300%;
  content: "";
  height: 100%;
  left: 0px;
  pointer-events: none;
  position: absolute;
  top: 0px;
  transition: background-position 350ms ease, transform 350ms ease;
  width: 100%;
  z-index: 1;
}

.raspberry:before {
  background: linear-gradient(
    130deg, 
    transparent 0% 33%, 
    var(--rp1) 66%, 
    var(--rp2) 83.5%, 
    var(--rp3) 100%
  );
  background-position: 0% 0%;
  background-size: 300% 300%;
  content: "";
  height: 100%;
  left: 0px;
  pointer-events: none;
  position: absolute;
  top: 0px;
  transition: background-position 350ms ease, transform 350ms ease;
  width: 100%;
  z-index: 1;
}

.web:before{
  background: linear-gradient(
    130deg, 
    transparent 0% 33%, 
    var(--w1) 66%, 
    var(--w2) 83.5%, 
    var(--w3) 100%
  );
  background-position: 0% 0%;
  background-size: 300% 300%;
  content: "";
  height: 100%;
  left: 0px;
  pointer-events: none;
  position: absolute;
  top: 0px;
  transition: background-position 350ms ease, transform 350ms ease;
  width: 100%;
  z-index: 1;
}

.vscode:before {
  background: linear-gradient(
    130deg, 
    transparent 0% 33%, 
    rgb(117, 255, 248) 66%,
    #2772ff 83.5%,
    rgb(117, 255, 248) 100%
  );
  background-position: 0% 0%;
  background-size: 300% 300%;
  content: "";
  height: 100%;
  left: 0px;
  pointer-events: none;
  position: absolute;
  top: 0px;
  transition: background-position 350ms ease, transform 350ms ease;
  width: 100%;
  z-index: 1;
 
}


.resources:before {
  background: linear-gradient(
    130deg, 
    transparent 0% 33%, 
    rgb(255, 126, 67) 66%,
    rgb(255, 37, 37) 83.5%,
    rgb(255, 126, 67) 100%
  );
  background-position: 0% 0%;
  background-size: 300% 300%;
  content: "";
  height: 100%;
  left: 0px;
  pointer-events: none;
  position: absolute;
  top: 0px;
  transition: background-position 350ms ease, transform 350ms ease;
  width: 100%;
  z-index: 1;
}

.projects:before {
  background: linear-gradient(
    130deg, 
    transparent 0% 33%, 
    lightgreen 66%,
    green 83.5%,
    lightgreen 100%
  );
  background-position: 0% 0%;
  background-size: 300% 300%;
  content: "";
  height: 100%;
  left: 0px;
  pointer-events: none;
  position: absolute;
  top: 0px;
  transition: background-position 350ms ease, transform 350ms ease;
  width: 100%;
  z-index: 1;
}

.tutorials:before {
  background: linear-gradient(
    130deg, 
    transparent 0% 33%, 
    var(--r1) 66%, 
    var(--r2) 83.5%, 
    var(--r3) 100%
  );
  background-position: 0% 0%;
  background-size: 300% 300%;
  content: "";
  height: 100%;
  left: 0px;
  pointer-events: none;
  position: absolute;
  top: 0px;
  transition: background-position 350ms ease, transform 350ms ease;
  width: 100%;
  z-index: 1;
}

.git:before {
  background: linear-gradient(
    130deg, 
    transparent 0% 33%, 
    rgb(198, 198, 198) 66%, 
    red 83%, 
    rgb(29, 29, 29) 100%
  );
  background-position: 0% 0%;
  background-size: 300% 300%;
  content: "";
  height: 100%;
  left: 0px;
  pointer-events: none;
  position: absolute;
  top: 0px;
  transition: background-position 350ms ease, transform 350ms ease;
  width: 100%;
  z-index: 1;
}

.python:before {
  background: linear-gradient(
    130deg, 
    transparent 0% 33%, 
    rgb(0, 166, 255) 66%, 
 
    rgb(247, 255, 24) 100%
  );
  background-position: 0% 0%;
  background-size: 300% 300%;
  content: "";
  height: 100%;
  left: 0px;
  pointer-events: none;
  position: absolute;
  top: 0px;
  transition: background-position 350ms ease, transform 350ms ease;
  width: 100%;
  z-index: 1;
}

.tic:before {
  background: linear-gradient(
    130deg, 
    transparent 0% 33%, 
    green 66%, 
    lightgreen 83.5%, 
    darkgreen 100%
  );
  background-position: 0% 0%;
  background-size: 300% 300%;
  content: "";
  height: 100%;
  left: 0px;
  pointer-events: none;
  position: absolute;
  top: 0px;
  transition: background-position 350ms ease, transform 350ms ease;
  width: 100%;
  z-index: 1;
}

.todo:before {
  background: linear-gradient(
    130deg, 
    transparent 0% 33%, 
    darkgreen 66%, 
     rgb(255, 255, 124) 83.5%, 
     yellow 100%
  );
  background-position: 0% 0%;
  background-size: 300% 300%;
  content: "";
  height: 100%;
  left: 0px;
  pointer-events: none;
  position: absolute;
  top: 0px;
  transition: background-position 350ms ease, transform 350ms ease;
  width: 100%;
  z-index: 1;
}


.cookie:before {
  background: linear-gradient(
    130deg, 
    transparent 0% 33%, 
    yellow 66%, 
    rgb(0, 149, 255) 83.5%, 
    rgb(255, 183, 0) 100%
  );
  background-position: 0% 0%;
  background-size: 300% 300%;
  content: "";
  height: 100%;
  left: 0px;
  pointer-events: none;
  position: absolute;
  top: 0px;
  transition: background-position 350ms ease, transform 350ms ease;
  width: 100%;
  z-index: 1;

}


.blog:before {
  background: linear-gradient(
    130deg, 
    transparent 0% 33%, 
    rgb(255, 183, 0) 66%, 
    yellow 83.5%, 
    orange 100%
  );
  background-position: 0% 0%;
  background-size: 300% 300%;
  content: "";
  height: 100%;
  left: 0px;
  pointer-events: none;
  position: absolute;
  top: 0px;
  transition: background-position 350ms ease, transform 350ms ease;
  width: 100%;
  z-index: 1;
}


.slideshow:before {
  background: linear-gradient(
    130deg, 
    transparent 0% 33%, 
    orange 66%, 
    darkorange 83.5%, 
    red 100%
  );
  background-position: 0% 0%;
  background-size: 300% 300%;
  content: "";
  height: 100%;
  left: 0px;
  pointer-events: none;
  position: absolute;
  top: 0px;
  transition: background-position 350ms ease, transform 350ms ease;
  width: 100%;
  z-index: 1;
}



.store:before {
  background: linear-gradient(
    130deg, 
    transparent 0% 33%, 
    red 66%, 
    rgb(255, 65, 65) 83.5%, 
    darkred 100%
  );
  background-position: 0% 0%;
  background-size: 300% 300%;
  content: "";
  height: 100%;
  left: 0px;
  pointer-events: none;
  position: absolute;
  top: 0px;
  transition: background-position 350ms ease, transform 350ms ease;
  width: 100%;
  z-index: 1;
}